DSMIL/simclr/runs
datasets/
mnist_bag/
WSI/
WSI_temp_files/
test/
weights/
embedder/
test-c16/
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*/__pycache__/*
__pycache__
*.csv
*.out
*.png
*.jpeg
*.jpg
*.tiff
*.vsi
*.pth
*.stdout
*.out
*.pt
*.zip
*.csv.zip
*.DS_Store